<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
</head>
<body>
<h3>Book edit form</h3>

<form th:action="@{/edit}" th:method="post" th:object="${bookDto}">

    <div>
        <label>Title:</label>
        <input name="id" type="hidden" value="" th:value="*{id}" readonly>
        <input name="title" type="text"
               th:value="*{title}" value=""
               placeholder="Book title">
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;">Wrong title error</div>
    </div>

    <div>
        <label>Author:</label>
        <select name="author.id" id="author.id">
            <option value=""  disabled>Author name</option>
            <option th:each="author : ${authors}" th:object="${author}"
                    th:value="*{id}" value=""
                    th:text="*{fullName}"
                    th:selected="${bookDto.author}? ${bookDto.author.id} == *{id}">
            </option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red;">Wrong author error</div>
    </div>

    <div>
        <label>Genre:</label>
        <select name="genre.id" id="genre.id">
            <option value="" disabled>Genre name</option>
            <option th:each="genre : ${genres}" th:object="${genre}"
                    th:value="*{id}" value=""
                    th:text="*{name}"
                    th:selected="${bookDto.genre}? ${bookDto.genre.id} == *{id}">
            </option>
        </select>
        <div class="errors" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" style="color: red;">Wrong genre error</div>
    </div>

    <button type="submit">Save</button>
    </br>
    <input type="reset" value="reset">
</form>
<a href="list.html" th:href="@{/}" >Back to list</a>
</body>
</html>